include README.md
recursive-include ddb *.c
recursive-include ddb *.py
recursive-include ddb/functions *.py
recursive-include ddb/lexer *.py
recursive-include ddb/evaluate *.py
recursive-include ddb/output *.py
recursive-include ddb/structure *.py