[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "2.7"

[packages]
flextable = ">=1.0.43"
pyyaml = "==4.2b1"
bumpversion = "*"

[dev-packages]
pip = "==18"
bumpversion = "*"
twine = "*"
cython = "*"
autopep8 = "*"
flake8 = "*"
pyinstaller = "*"
