[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pip = "==18"
pyyaml = "*"
bumpversion = "*"
flextable = {path = "./../flextable"}
cython = "*"
"e1839a8" = {path = "."}

[requires]
python_version = "2.7"
