[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pip = "==18"
pyyaml = "*"
bumpversion = "*"
delimiteddb = {path = "."}
ddb = {path = "."}

[requires]
python_version = "2.7"
