include README.md
include ddb/__init__.py
include ddb/functions/__init__.py
include ddb/lexer/__init__.py
include ddb/file_io/__init__.py
include ddb/evaluate/__init__.py
include ddb/output/__init__.py
include ddb/structure/__init__.py
include ddb/methods/__init__.py
include ddb/ *.py
recursive-include ddb/ *.c
